# Node + Yarn
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build/Prod Files
dist/
logs/
.env

# Test Files
*.sqlite
*.sqlite-shm
*.sqlite-wal

# IDE Files
.vscode/
.idea/
